$transition-duration: .3s;


////////////
// LAYOUT //
////////////

* {
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

// Used by data-zoom to hide elements.
// Use opacity and visibility instead of display: none so we can use transitions
.data-node-hidden {
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  border: 0;
  display: block;
}

data-node, data-full, data-summary {
  display: inline-block;
  vertical-align: top;

  -webkit-transition: all $transition-duration ease-in-out;
  -moz-transition: all $transition-duration ease-in-out;
  -o-transition: all $transition-duration ease-in-out;
  -ms-transition: all $transition-duration ease-in-out;
  transition: all $transition-duration ease-in-out;
}

// This makes each data-full element have half the scale of its parent.
data-full {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

//////////////////
// DEBUG COLORS //
//////////////////
data-full {
  border: 1px solid #C0FACA;
}
data-summary {
  border: 1px solid green;
}

